<div class="container main">
	<h1>魔法之风 沉睡的人</h1>
	<% if current_user %>
	<div class="circle-button" onclick="window.location='<%= new_game_path %>';">
		<i class="fa fa-plus" style="margin-left: 1px;margin-top: 20px;"></i>
	</div>
	<% end %>

	<div class="row area">
	</div>
	<script id="list" type="text/html">
	<div class="game-info" onclick="window.open('game/{{id}}', '_blank');" style="background-image: url({{image}});">
		<a class="game-title"><i class="fa fa-eject"></i>{{name}}</a>
	</div>
	</script>
	<div class="loader-inner pacman">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <script></script>
</div>
	<script>
    //分页滚动刷新 start
    var $pacman = $('.pacman');
    var pageNum = 1;
    var $area = $('.area');
    function makeTpl(p){
    	$pacman.show()
        $.get('/list?page='+p,function(data){
            console.log(data)
            var html = '';
            var i = 0;
            $.each(data,function(i){
            	var a = {
            		id: data[i]['id'],
            		name: data[i]['name'],
            		image: data[i]['image']
            	};
            	i++;
				html += template('list', a);
			})
			pageNum++;
			$area.append(html)
			$pacman.hide()
			console.log(pageNum)
        })
    }
    makeTpl(pageNum);
    //分页滚动刷新 end

    //鼠标滑动调用
    $(window).scroll(function () {
		if ($(window).scrollTop() == $(document).height() - $(window).height()) {
		makeTpl(pageNum)
       }
   });
	</script>