/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'font-awesome'
 */


 body {
	background-image: url(bg.jpg);
	background-repeat: no-repeat , no-repeat;
	background-attachment:fixed;
	padding-top: 70px;
}

.container {
	margin: auto auto;
	text-align: center;
}

#game {
	border:5px solid red;
	margin: auto auto;
}

#game tr td {
	border:2px solid black;
}

.game-info {
	width: 800px;
	height: 300px;
	border:2px initial;
	border-radius: 15px;
	margin: 0px auto 40px auto;
	float: center;
	background-size: cover;
}

.game-info:hover {
	cursor: pointer;
}

.game-info a {
	color: white;
}

.game-title {
	font-size: 30px;
	display: block;
	text-decoration: none;
}

.game-banner {
	display: block;
	text-decoration: none;
}

.game-info a:hover {
	text-decoration: none;
}