.error {
  margin: -5px 0 9px 0;
  color: #DB8A14;
}

.btn-primary {
  color: white;
  background: #c0865e;
  border-color: #b9784c;
  &:hover {
    background-color: #b9784c;
    border-color: #845534;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

form {
  .error {
    margin: 5px 0 9px 0;
    color: #DB8A14;
  }
  * {
    &:focus {
      outline: none;
    }
  }
  input {
    font-size: 21px;
    width: 100%;
    padding: 10px 12px;
    color: #555;
  }
  textarea {
    height: 180px;
    font-size: 21px;
    width: 100%;
    padding: 10px 12px;
    color: #555;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  dd {
    margin: 0;
  }
}

.notice {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: teal;
  color: white;
  padding: 20px;
  -webkit-box-shadow: 6px 7px 9px -1px rgba(0,0,0,0.68);
  -moz-box-shadow: 6px 7px 9px -1px rgba(0,0,0,0.68);
  box-shadow: 6px 7px 9px -1px rgba(0,0,0,0.68);
}

.image-circle {
  height: 50px;
  width: 50px;
}

.add-news {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: rgb(255,15,79);
  position: fixed;
  left: 50%;
  margin-left: 500px;
  line-height: 50px;
  text-align: center;
  bottom: 10%;
  z-index: 998;
  cursor: pointer;
}

.comment-body {
    width: 100%;
    background-color: #1F2234;
    float: left;
    height: auto;
    position: relative;
    top: 100%;
    padding-top: 50px;
}

.reply {
  margin: 40px 0 20px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
    .user-name {
      font-size: 18px;
      display: inline;
      font-weight: normal;
    }
  .user-comment {
    padding: 15px;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #ddd;
    line-height: 26px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 21px;
      left: -6px;
      width: 10px;
      height: 10px;
      background: #fff;
      border-left: 1px solid #cad5e0;
      border-top: 1px solid #cad5e0;
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .user-info {
    float: left;
    margin-right: 29px;
    margin-left: 29px;
    position: relative;
    overflow: visible;
    text-align: center;
    width: 90px;
    .image-circle {
      width: 50px;
      border-radius: 50%;
    }
  }
  .content {
    text-align: left;
  }
}

.comment-box {
  width: 80%;
  margin: 10px auto; 
}